<footer class="container bg-light p-5">
  <div class="row">
    <div class="col-md-4 mt-5">
      <h4>Contact Us</h4>
      <div class="mt-4">
        <i class="bi bi-geo-alt-fill fs-5 text-primary me-2"></i>
        <h6 class="d-inline">
          Deogiri Institute of Engineering and Management Studies Campus,
          Railway Station Road, Aurangabad, Maharashtra-431005
        </h6>
      </div>
      <div class="mt-2">
        <i class="bi bi-telephone-fill text-success fs-5 me-2"></i>
        <h6 class="d-inline">0240 236 7575</h6>
      </div>
      <div class="mt-2">
        <i class="bi bi-envelope-fill text-danger fs-5 me-2"></i>
        <h6 class="d-inline">gdscdiems@gmail.com</h6>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <h4>Featured Links</h4>
      <div class="mt-4">
        <a
          href="https://developers.google.com/community/gdsc-solution-challenge"
          class="text-decoration-none"
          ><h6 class="mt-3">Solution Challenge</h6></a
        >
        <a
          href="https://gdsc.community.dev/events/details/developer-student-clubs-bhilai-institute-of-technology-durg-presents-android-study-jam-2021/"
          class="text-decoration-none"
          ><h6 class="mt-3">Android Study Jams</h6></a
        >
        <a href="https://cloud.google.com/" class="text-decoration-none"
          ><h6 class="mt-3">Google cloud</h6></a
        >
      </div>
    </div>

    <div class="col-md-4 mt-5">
      <h4>Quick Links</h4>
      <div class="mt-4">
        <h6 class="mt-3">
          <a
            [routerLink]="['/home']"
            routerLinkActive="router-link-active"
            class="text-decoration-none"
            >Home</a
          >
        </h6>
        <h6 class="mt-3">
          <a
            [routerLink]="['/about']"
            routerLinkActive="router-link-active"
            class="text-decoration-none"
            >About</a
          >
        </h6>
        <h6 class="mt-3">
          <a
            [routerLink]="['/contact']"
            routerLinkActive="router-link-active"
            class="text-decoration-none"
            >Contact</a
          >
        </h6>
        <h6 class="mt-3">
          <a
            [routerLink]="['/team']"
            routerLinkActive="router-link-active"
            class="text-decoration-none"
            >Team</a
          >
        </h6>
        <h6 class="mt-3">
          <a
            [routerLink]="['/event']"
            routerLinkActive="router-link-active"
            class="text-decoration-none"
            >Events</a
          >
        </h6>
      </div>
    </div>
    <div class="col-md-4 offset-md-4 mb-4">
      <div class="mt-5 d-flex justify-content-around">
        <div>
          <a
            href="https://www.facebook.com/people/Gdsc-Diems/100072843861962/"
            target="_blank"
            ><img src="https://img.icons8.com/color/50/000000/facebook.png"
          /></a>
        </div>
        <div>
          <a href="https://twitter.com/DiemsGdsc" target="_blank"
            ><img src="https://img.icons8.com/color/48/000000/twitter--v1.png"
          /></a>
        </div>
        <div>
          <a href="https://www.instagram.com/gdsc_diems/" target="_blank"
            ><img
              src="https://img.icons8.com/fluent/50/000000/instagram-new.png"
          /></a>
        </div>
        <div>
          <a
            href="https://www.linkedin.com/in/gdsc-diems-4ab938220/"
            target="_blank"
            ><img src="https://img.icons8.com/fluent/50/000000/linkedin.png"
          /></a>
        </div>
        <div>
          <a href="https://t.me/gdscdiems" target="_blank"
            ><img
              src="https://img.icons8.com/color/48/000000/telegram-app--v1.png"
          /></a>
        </div>
        <div>
          <a
            href="https://www.youtube.com/channel/UCuBwoDiX9z65LGtyGAGCNdQ/videos"
            target="_blank"
            ><img src="https://img.icons8.com/color/48/000000/youtube-play.png"
          /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
