<div class="d-flex text-on-image mt-5 pt-5">
  <div class="hvr-grow">
    <span class="text-primary">A</span>
    <span class="text-danger">B</span>
    <span class="text-warning">O</span>
    <span class="text-warning">U</span>
    <span class="text-success">T</span>
    <div class="d-inline ms-4">
      <span class="text-danger">U</span>
      <span class="text-success">S</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5 mb-5">
    <div
      class="col-md-6 mt-5"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="3000"
    >
      <h1>About Our Institution</h1>
      <div class="mt-4">
        “DIEMS, established in the academic year 2009-10, is one of the renowned
        Engineering and Management institute of the Aurangabad region. It is
        affiliated to the Dr. Babasaheb Ambedkar Technological University,
        Lonere and functions under All India Council of Technical Education
        (A.I.C.T.E.), Government of India.” Since 2009, DIEMS has been guiding
        students with best up-to-date facilities, experienced faculties and
        passionate management committees.
      </div>
      <div class="mt-4">
        <ul>
          <li class="mt-2">Google Developer Students club</li>
          <li class="mt-2">Google Cloud Career Readiness program</li>
          <li class="mt-2">More than 25 MOU’s with industries</li>
          <li class="mt-2">Industrial internship for industry exposure</li>
        </ul>
      </div>
    </div>

    <div
      class="col-md-6 mt-5"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="3000"
    >
      <img
        src="./assets/images/about_img_1.png"
        alt=""
        class="img-fluid shadow"
      />
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div
        class="col-md-4 mt-5 mb-5"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="3000"
      >
        <div class="card shadow">
          <div class="card-body">
            <h3 class="p-2 text-danger">Our History</h3>
            <div class="p-2">
              Deogiri Institute of Engineering and Management Studies is
              established at Aurangabad during the academic year 2009-10, in
              fulfillment with the policies of the Government of India to start
              Engineering colleges in emerging technologies.
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 mt-5"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="3000"
      >
        <div class="card shadow">
          <div class="card-body">
            <h3 class="p-2 text-primary">Over 100 Facalties</h3>
            <div class="p-2">
              Deogiri Institute of Engineering and Management studies has 100+
              highly experienced, dedicated and motivating Faculty Members. They
              aim at providing the best and industrial ready graduates. Students
              learn both therotical and practical ways to go around academics.
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 mt-5"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="3000"
      >
        <div class="card shadow">
          <div class="card-body">
            <h3 class="p-2 text-success">Have 1200 Students</h3>
            <div class="p-2">
              DIEMS has shown consistent growth since the beginning. With it’s
              ever-growing placements and top results in University. Today,
              DIEMS is home to more than 1000 students, enrolled in various
              undergraduates, post-graduates and masters programs.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-5">
  <div class="container">
    <h1
      class="text-center pt-5"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="3000"
    >
      Why Choose Our GDSC Club
    </h1>

    <div
      class="text-center mt-4"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="3000"
    >
      Google Developer Student Club DIEMS is inspired by the Google Developers'
      Family. At GDSC DIEMS, our motto is to connect, learn, grow, and build
      with a community. University students comes together under one roof to
      create an inspiring changemakers community.
    </div>
    <div class="row mt-5 pb-5">
      <div
        class="col-md-3 mt-4"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="3000"
      >
        <h1 class="text-center text-primary">
          <i class="bi bi-people-fill"></i>
        </h1>
        <h4 class="text-center mb-3">Seminars</h4>
        <div class="text-center">
          Getting inspiration to become world-class developers and changemakers
          from sharing others' success stories. Knowing about emerging and
          latest technologies.
        </div>
      </div>

      <div
        class="col-md-3 mt-4"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="3000"
      >
        <h1 class="text-center text-danger">
          <i class="bi bi-people-fill"></i>
        </h1>
        <h4 class="text-center mb-3">Study Jams</h4>
        <div class="text-center">
          Hands-on experience with the community members. Grow their knowledge
          on developer technologies and more through peer to peer events.
        </div>
      </div>

      <div
        class="col-md-3 mt-4"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="3000"
      >
        <h1 class="text-center text-warning">
          <i class="bi bi-people-fill"></i>
        </h1>
        <h4 class="text-center mb-3">Projects</h4>
        <div class="text-center">
          Gain relevant industry experience by solving problems for local
          organizations with technology based solutions. Helping the society
          through innovative real time tech solutions.
        </div>
      </div>

      <div
        class="col-md-3 mt-4"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="3000"
      >
        <h1 class="text-center text-success">
          <i class="bi bi-people-fill"></i>
        </h1>
        <h4 class="text-center mb-3">Hackathons</h4>
        <div class="text-center">
          Dream. Explore. Wonder. Build it Together. Showcase their prototypes
          and solutions to their local community and industry leaders.
        </div>
      </div>
    </div>
  </div>
</div>
