<div class="d-flex text-on-image mt-5 pt-5">
  <div class="hvr-grow">
    <span class="text-primary">E</span>
    <span class="text-danger">V</span>
    <span class="text-success">E</span>
    <span class="text-warning">N</span>
    <span class="text-danger">T</span>
    <span class="text-primary">S</span>
  </div>
</div>
<h1 class="text-center mt-4">Welcome to GDSC events!</h1>
<div class="container">
  <div
    class="d-flex justify-content-center mt-5"
    data-aos="fade-up"
    data-aos-anchor-placement="top-bottom"
    data-aos-duration="3000"
  >
    <ul class="nav nav-pills">
      <li class="nav-items">
        <a href="#All" data-bs-toggle="tab" class="nav-link active">Show All</a>
      </li>
      <br />
      <li class="nav-item">
        <a href="#Previous" data-bs-toggle="tab" class="nav-link"
          >Previous Events</a
        >
      </li>
      <br />
      <li class="nav-item">
        <a href="#Upcoming" data-bs-toggle="tab" class="nav-link"
          >Upcoming Events</a
        >
      </li>
    </ul>
  </div>
  <div
    class="tab-content"
    data-aos="fade-up"
    data-aos-anchor-placement="top-bottom"
    data-aos-duration="3000"
  >
    <div class="tab-pane fade show active" id="All">
      <div class="row mt-5 mb-5">
        <div class="col-md-4">
          <div class="card mt-5 shadow">
            <img
              src="./assets/images/Google_Cloud.jpg"
              alt=""
              class="img-fluid card-img-top imageHeight"
            />
            <div class="card-body">
              <h4 class="text-primary">30 days of Google cloud</h4>
              <div class="mt-3 mb-3">
                30 days of google cloud program provides you an opportunity to
                kickstart your career in cloud and get hands-on practice on
                google cloud platform- the tool that powers apps like Google
                Search, Gmail and Youtube.
              </div>
              <button class="btn btn-outline-primary mt-3">Read More...</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mt-5 shadow">
            <img
              src="./assets/images/android_study_jam.jpeg"
              alt=""
              class="img-fluid card-img-top"
            />
            <div class="card-body">
              <h4 class="text-danger">Android Study Jams</h4>
              <div class="mt-3 mb-3">
                Android study jams are community are organized study groups for
                people to learn how to build androidd apps using the kotlin
                programming language, using the curriculum provided by google.
              </div>
              <button class="btn btn-outline-danger mt-3">Read More...</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mt-5 shadow">
            <img
              src="./assets/images/solutionchallenge-homepage.png"
              alt=""
              class="img-fluid imageHeight"
            />
            <div class="card-body">
              <h5>Solution Challenge</h5>
              <div class="mt-3">
                The mission of the 2022 Solution Challenge is to solve for one
                or more of the United Nations 17 Sustainable Development Goals
                using Google technology. The Solution Challenge is open to
                members of Google Developer Student Clubs.
              </div>
              <button class="btn btn-outline-success mt-3">Read More...</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="Previous">
      <div class="row mt-5 mb-5">
        <div class="col-md-4">
          <div class="card mt-5 shadow">
            <img
              src="./assets/images/Google_Cloud.jpg"
              alt=""
              class="img-fluid card-img-top imageHeight"
            />
            <div class="card-body">
              <h4 class="text-primary">30 days of Google cloud</h4>
              <div class="mt-3">
                30 days of google cloud program provides you an opportunity to
                kickstart your career in cloud and get hands-on practice on
                google cloud platform- the tool that powers apps like Google
                Search, Gmail and Youtube.
              </div>
              <button class="btn btn-outline-primary mt-3">Read More...</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mt-5 shadow">
            <img
              src="./assets/images/android_study_jam.jpeg"
              alt=""
              class="img-fluid"
            />
            <div class="card-body">
              <h4 class="text-danger">Android Study Jams</h4>
              <div class="mt-3">
                Android study jams are community are organized study groups for
                people to learn how to build androidd apps using the kotlin
                programming language, using the curriculum provided by google.
              </div>
              <button class="btn btn-outline-danger mt-3">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="Upcoming">
      <div class="row mt-5 mb-5">
        <div class="col-md-4">
          <div class="card mt-5 shadow">
            <img
              src="./assets/images/solutionchallenge-homepage.png"
              alt=""
              class="img-fluid imageHeight"
            />
            <div class="card-body">
              <h5>Solution Challenge</h5>
              <div class="mt-3">
                The mission of the 2022 Solution Challenge is to solve for one
                or more of the United Nations 17 Sustainable Development Goals
                using Google technology. The Solution Challenge is open to
                members of Google Developer Student Clubs.
              </div>
              <button class="btn btn-outline-primary mt-3">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
