.navbar-margin {
  margin-left: 190px;
}

.text-on-image {
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 6px;
}

.memberPics {
  height: 270px;
  border-radius: 10%;
}
.card {
  border: none;
  overflow: hidden;
}
